<%= simple_form_for (Cocktail.new) do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
