<div class="container d-flex flex-column justify-content-between">
  <div class="headings">
    <h1>Mister</h1>
    <h2 class="heading_home">Cocktail</h2>
  </div>

  <div class="img_preview">
    <%= cl_image_tag("cocktail_home", :class => "img_preview") %>
  </div>

  <div class="enter_link">
    <%= link_to cocktails_path do %>
      <button class="btn_transparent">E N T E R</button>
    <% end %>
  </div>



</div>
