// Specific CSS for your home-page
.headings {
  h1 {
    font-family: $headers-1;
    font-size: 56px;
    position: relative;
  }

.heading_home {
  font-size: 56px;
  position: absolute;
  left: 0;
  right: 0;
  top: 126px;
  z-index: 6;
}
  h2 {
    font-family: $headers-2;
  }
}

.container {
  text-align: center;

}

.img_preview {
  position: fixed;
  top: 5px;
  position: relative;
}
