.headings_show {
  h1 {
    font-family: $headers-1;
    font-size: 56px;
    position: relative;
  }
  h2 {
    font-family: $headers-2;
    font-size: 56px;
    position: absolute;
    left: 0;
    right: 0;
    top: 225px;
    z-index: 6;
  }
}

.link_to {
  color: $gray;
  text-decoration: none;

  &:hover {
    background: white;

  }

}

.container {
  text-align: center;

}

.main_image {
  position: fixed;
  top: 12px;
  position: relative;
}

.add_link {
  text-align: right;
  top: 90px;
}

.back_link {
  text-align: left;
  top: 90px;
}

.list_ingredients {
  text-align: left;
  margin-top: 36px;
  margin-left: auto;
  margin-right: auto;
  ul {
    text-decoration: none;
    list-style: none;
  }
}

.fa-trash-alt{
    color: #848C43;
    font-size: 12px;
  }


